.play__input {
  margin-top: var(--space3XL);
}

.play__buttons {
  display: grid;
  grid-gap: var(--space3XL);
  grid-template-columns: 1fr 1fr;
}

.play__back {
  flex-direction: row-reverse;
}

.play__back::before {
  display: none;
}

.play__back svg {
  margin: 0 calc(var(--spaceL) + 4px) 0 0;
  transform: scaleX(-1);
}

.play__back:focus svg,
.play__back:hover svg,
.play__back:active svg {
  margin: 0 calc(var(--spaceXL) + 4px) 0 0;
}
